{% extends 'base.html' %}
{% block content %}
<div class="container"><!-- start main -->
	<div class="main row">
 	 	<h2 class="style">list of projects</h2>
	 	 <div class="grids_of_4 row">
				<div class="col-md-3 images_1_of_4">
					<div class="fancyDemo">
						<a rel="group" title="" href="web/images/pic1.jpg"><img src="web/images/pic1.jpg" alt=""class="img-responsive"/></a>
					</div>
					 <h3><a href="single-page.html">Lorem Ipsum is simply</a></h3>
					 <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
					 <h4><a href="single-page.html">ipsum dolor</a> </h4>
				</div>
				<div class="col-md-3 images_1_of_4">
					<div class="fancyDemo">
						<a rel="group" title="" href="web/images/pic2.jpg"><img src="web/images/pic2.jpg" alt=""class="img-responsive"/></a>
					</div>
					 <h3><a href="single-page.html">long established fact</a></h3>
					 <p class="para">Our website design and development provides quality web solutions,</p>
					 <h4><a href="single-page.html">Lorem ipsum</a></h4>
				</div>
				<div class="col-md-3 images_1_of_4">
					<div class="fancyDemo">
						<a rel="group" title="" href="web/images/pic3.jpg"><img src="web/images/pic3.jpg" alt=""class="img-responsive"/></a>
					</div>
					 <h3><a href="single-page.html">Contrary to popular</a></h3>
					 <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do EIUSMOD tempor,</p>
					 <h4><a href="single-page.html">consectetur lipsum</a></h4>
				</div>
				<div class="col-md-3 images_1_of_4">
					<div class="fancyDemo">
						<a rel="group" title="" href="web/images/pic4.jpg"><img src="web/images/pic4.jpg" alt=""class="img-responsive"/></a>
					</div>
					 <h3><a href="single-page.html">Lorem Ipsum available</a></h3>
					 <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
					 <h4><a href="single-page.html">lipsum adipisicing</a></h4>
				</div>
				<div class="clear"></div>
			</div>
	 	 <div class="grids_of_4 row">
				<div class="col-md-3 images_1_of_4">
					<div class="fancyDemo">
						<a rel="group" title="" href="web/images/pic5.jpg"><img src="web/images/pic5.jpg" alt=""class="img-responsive"/></a>
					</div>
					 <h3><a href="single-page.html">long established fact</a></h3>
					 <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
					 <h4><a href="single-page.html">ipsum dolor</a> </h4>
				</div>
				<div class="col-md-3 images_1_of_4">
					<div class="fancyDemo">
						<a rel="group" title="" href="web/images/pic6.jpg"><img src="web/images/pic6.jpg" alt=""class="img-responsive"/></a>
					</div>
					 <h3><a href="single-page.html">Lorem Ipsum is simply</a></h3>
					 <p class="para">Our website design and development provides quality web solutions,</p>
					 <h4><a href="single-page.html">Lorem ipsum</a></h4>
				</div>
				<div class="col-md-3 images_1_of_4">
					<div class="fancyDemo">
						<a rel="group" title="" href="web/images/pic7.jpg"><img src="web/images/pic7.jpg" alt=""class="img-responsive"/></a>
					</div>
				     <h3><a href="single-page.html">Lorem Ipsum available</a></h3>
					 <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do EIUSMOD tempor,</p>
					 <h4><a href="single-page.html">consectetur lipsum</a></h4>
				</div>
				<div class="col-md-3 images_1_of_4">
					<div class="fancyDemo">
						<a rel="group" title="" href="web/images/pic8.jpg"><img src="web/images/pic8.jpg" alt=""class="img-responsive"/></a>
					</div>
					  <h3><a href="single-page.html">Contrary to popular</a></h3>
					 <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
					 <h4><a href="single-page.html">lipsum adipisicing</a></h4>
				</div>
				<div class="clear"></div>
			</div>
	</div>
</div><!-- end main -->
{% endblock %}
